<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>

Hello, <%= current_user.email %>
<a class="btn btn-primary" <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>

<a class="btn btn-primary" <%= link_to 'Sign in', new_user_session_path %>

<%end%>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
